#wrapper {
    max-width: 860px;
    position: relative;
    margin: auto;
}

.page_layout {
    margin: 60px auto;
    position: relative;
    width: 860px;
}

.fl_r {
    float: right;
}

.fl_l {
    float: left;
}

body {
    color: #8f8f8f;
    /*font: 12px Tahoma, sans-serif;*/
    background-color: #f8f8f8;
    margin: 0;
}

.form-signin {
    max-width: 330px;
    margin: 150px auto;
}

.form-signup {
    max-width: 330px;
    margin: 50px auto;
}

.reg {
    background-color: #f3f3f3;
    color: #b2b2b2;
    border: 1px solid #e7e7e7;
    height: auto;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input:invalid {
    size: 10px;
}

.reglink {
    margin-top: 20px;
    font-size: 18px;
}

.inline {
    display: inline-block;
}

.lang {
    float: left;
    padding: 8px;
}

.fio {
    float: right;
    font-size: 30px;
    padding: 4px;
    color: #31282a;
}

a {
    text-decoration: none;
}

.errmsg {
    height: 30px;
    color: #ff1020;
}

.reg_button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    padding: 10px;
    height: auto;
    width: 100%;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border-radius: 8px;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #b1b6ff;
    font: 20px 'Comic sans ms';
    z-index: 100;
}

h1 {
    color: #7e7e7e;
    text-align: center;
}

.sidebar {
    position: relative;
    font: 20px 'Oswald';
    width: 150px;
    min-height: 500px;
}

.side_menu{
    margin-top: 20px;
}
.side_menu li {
    list-style-type: square;
    font-weight: 300;
    border-top: 1px solid #e7e7e7;
}

.side-menu a {
    color: #1d278f;
}

.img_circle {
    box-sizing: border-box;
    margin-left: 10px;
    border: 2px solid #b1b6ff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.page_body {
    position: relative;
    width: 710px;
}

.avatar_block {
    float: right;
    width: 230px;
}

.page_block {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
}

.avatar_wrap {
    padding: 15px;
    font-size: 14px;
}

.page_avatar {
    width: 200px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 4px;
}

.avatar_button {
    width: 200px;
    margin-top: 10px;
    background-color: #b1b6ff;
    padding: 7px 16px 8px;
    text-align: center;
    font-size: 18px;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}

.only_button {
    margin: 0 0;
}

.main_section {
    padding: 15px 20px;
}

.page_name {
    color: #000;
    margin: -1px 0;
    font-size: 30px;
}

.profile_info {
    font-size: 18px;
    padding-top: 10px;
    line-height: 150%;
}

.info_line {
    padding-top: 5px;
    display: block;
    color: #535353;
}

.label {
    width: 165px;
}